<ol
  class='relative border-s border-sky-200 dark:border-slate-600 ml-4 lg:x-w-2/3'
>
  <li class='ms-4'>
    <div
      class='absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-sky-200 dark:bg-sky-200'
    >
    </div>
    <time class='mb-1 text-xl font-normal leading-none text-sky-200/90'
      >Present...</time
    >
    <h3 class='text-2xl font-semibold text-emerald-200 mt-4'>Freelancer</h3>
    <p
      class='text-lg mt-6 font-normal text-slate-100 dark:text-slate-300 text-pretty'
    >
      Creating custom solutions for each project using a variety of tools and
      technologies. I build a website for a cleaning company designed to be
      beautiful, fast, and fully responsive. You can check it out in the
      projects section. Every project is a chance to mix creativity with clean
      code and make something awesome that really works.
    </p>
  </li>
</ol>
